### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Intellisense

In [196]:
%config IPCompleter.greedy = True

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
full_purchase_data = purchase_data

C:\Users\wl030\Anaconda3\lib\site-packages\numpy\core\__init__.py:29: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\wl030\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.BNVRK7633HSX7YVO2TADGR4A5KEKXJAW.gfortran-win_amd64.dll
C:\Users\wl030\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.CSRRD7HKRKC3T3YXA7VY7TAZGLSWDKW6.gfortran-win_amd64.dll
  stacklevel=1)

### Analysis and Prework
* This is the prework and analysis section of the homework and not part of the submission.

In [6]:
#purchase_data.head()

In [7]:
#purchase_data.head()
#purchase_data.columns
#purchase_data.count()
#purchase_data['SN'].value_counts()
#purchase_data['SN'].nunique()
#player_count = len(purchase_data['SN'].unique())
#player_count
#wl-purchase_data['Total Players'] = len(purchase_data['SN'].unique())
#player_count['Total Players']= purchase_data.iloc[0,7]
#wl-player_count = purchase_data[['Total Players']]
#wl-player_count.head(1)

## Player Count

* Display the total number of players

In [8]:
#wl - final
purchase_data['Total Players'] = len(purchase_data['SN'].unique())
player_count = purchase_data[['Total Players']]
player_count.head(1)

   Total Players
0            576

In [197]:
#purchase_data.count()

### Prework

In [9]:
#purchase_data.describe()
#purchase_data.head()
#num_unique_items = purchase_data['Item ID'].nunique()
#num_unique_items

In [10]:
#purchase_data.head()
#avg_price = purchase_data['Price'].mean().round(2)
#avg_price

In [11]:
#purchase_data.head()
#num_purchases = purchase_data['Purchase ID'].count()
#num_purchases

In [12]:
#purchase_data.head()
#total_rev = purchase_data['Price'].sum()
#total_rev

In [13]:
#purchasing_analysis = pd.DataFrame({"Number of Unique Items":[num_unique_items],
#                                   "Average Price":[avg_price],
#                                   "Number of Purchases":[num_purchases],
#                                   "Total Revenue":[total_rev]})
#purchasing_analysis  ###WL - format this correctly

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#wl - final

num_unique_items = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
num_purchases = purchase_data['Purchase ID'].count()
total_rev = purchase_data['Price'].sum()
purchasing_analysis = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                                   "Average Price":[avg_price],
                                   "Number of Purchases":[num_purchases],
                                   "Total Revenue":[total_rev]})
#purchasing_analysis.dtypes
purchasing_analysis['Average Price'] = purchasing_analysis['Average Price'].map('${:,.2f}'.format)
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map('${:,.2f}'.format)
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

### Pre work

In [198]:
###purchase_data.head()

###purchase_data.groupby('Gender').count()['SN']
###gender_df = pd.DataFrame()
###gender_df['Total Count'] = purchase_data.groupby('Gender').count()['SN']
#gender_df['Percentage of Players'] = gender_df['Female']

#gender_df['player base'] = gender_df.loc['Female'] + gender_df.loc['Male'] + gender_df.loc['Other / Non-Disclosed']
###gender_df['player base'] = gender_df['Total Count'].sum()
###gender_df['Percentage of Players'] = gender_df['Total Count']/gender_df['player base']
###gender_df

In [199]:
#clean_purcashing_data = purchase_data.dropna(how='any')
#clean_purcashing_data.groupby('Gender').count()
#clean_purcashing_data.groupby('Gender').count().sum()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
#gender_temp = purchase_data[['SN','Gender']]
#gender_temp = gender_temp.drop_duplicates()
#gender_temp.head()

In [200]:
#wl - final
gender_temp = purchase_data[['SN','Gender']]
gender_temp = gender_temp.drop_duplicates()
gender_temp.head()
#purchase_data.groupby('Gender').count()['SN']
gender_df = pd.DataFrame()
gender_df['Total Count'] = gender_temp.groupby('Gender').count()['SN']
gender_df['player base'] = gender_df['Total Count'].sum()
gender_df['Percentage of Players'] = round((gender_df['Total Count']/gender_df['player base'])*100,2)
gender_df

                       Total Count  player base  Percentage of Players
Gender
Female                          81          576                  14.06
Male                           484          576                  84.03
Other / Non-Disclosed           11          576                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
#wl-purchase_data.head()

In [66]:
#wl-purchase_data.groupby('Gender').count()

In [65]:
#wl-purchase_data.groupby('Gender').sum()

In [64]:
#wl-avg_total_purchase_pp = purchase_data.groupby('Gender').sum()
#wl-avg_total_purchase_pp['total person']= grouped_purchase_data['SN']
#wl-avg_total_purchase_pp

In [63]:
#wl-unique_players = purchase_data[['SN','Gender']]
#wl-unique_players = unique_players.drop_duplicates()
#wl-unique_genders = unique_players.groupby("Gender").count()
#wl-unique_genders.head()

In [62]:
#wl-unique_players = purchase_data[['SN','Gender']]
#wl-unique_players = unique_players.drop_duplicates()
#wl-unique_genders = unique_players.groupby("Gender").count()
#unique_genders.describe()
#unique_players.head()
#avg_total_purchase_pp = unique_players.groupby('Gender').sum()
#avg_total_purchase_pp['total person']= unique_players['SN']
#avg_total_purchase_pp
#wl-avg_total_purchase_pp = purchase_data.groupby('Gender').sum()
#wl-avg_total_purchase_pp['total person']= grouped_purchase_data['SN']
#wl-avg_total_purchase_pp['total_gender']= unique_genders['SN']
#avg_total_purchase_pp['Avg Total Purchase per Person']= 
#wl-avg_total_purchase_pp

In [201]:
#wl -final
purchase_data.describe()
grouped_purchase_data = purchase_data.groupby('Gender').count()
avg_purchase_price = round(purchase_data.groupby('Gender').mean(),2)
total_purchase_value = purchase_data.groupby('Gender').sum()
gender_pa = pd.DataFrame()
gender_pa['Purchase Count'] = grouped_purchase_data['SN']
gender_pa['Average Purchase Price']=avg_purchase_price['Price']
gender_pa['Total Purchase Value']= total_purchase_value['Price']

#This section calculates average per person
unique_players = purchase_data[['SN','Gender']]
unique_players = unique_players.drop_duplicates()
unique_genders = unique_players.groupby("Gender").count()
avg_total_purchase_pp = purchase_data.groupby('Gender').sum()
avg_total_purchase_pp['total person']= grouped_purchase_data['SN']
avg_total_purchase_pp['total_gender']= unique_genders['SN']
#avg_total_purchase_pp

gender_pa['Avg Total Purchase per Person'] = avg_total_purchase_pp['Price']/avg_total_purchase_pp['total_gender']

gender_pa['Average Purchase Price']=gender_pa['Average Purchase Price'].map('${:,.2f}'.format)
gender_pa['Total Purchase Value']=gender_pa['Total Purchase Value'].map('${:,.2f}'.format)
gender_pa['Avg Total Purchase per Person']=gender_pa['Avg Total Purchase per Person'].map('${:,.2f}'.format)
gender_pa

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [202]:
#purchase_data.count()
#get unique players
unique_players = purchase_data[['SN','Age']].drop_duplicates()
unique_players['Total Players'] = len(unique_players['SN'].unique())
total_players = len(unique_players['SN'].unique())

#Bin logic
bins=[0,9,14,19,24,29,34,39,100]
bin_labels= ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
unique_players['Age Bins']=pd.cut(unique_players['Age'],bins, labels= bin_labels) 
age_demographics = unique_players.groupby('Age Bins').count()
age_temp = unique_players.groupby('Age Bins').count()
#age_temp
age_demographics['Percentage of Players'] = round((age_temp['Age']/total_players)*100,2)
#unique_players.head()

age_demographics.rename(columns={'Age':'Total Count'})

###age_demographics.drop(columns=['SN','Total Players'])
age_demographics
#rename/drop columns doesn't work

           SN  Age  Total Players  Percentage of Players
Age Bins
<10        17   17             17                   2.95
10-14      22   22             22                   3.82
15-19     107  107            107                  18.58
20-24     258  258            258                  44.79
25-29      77   77             77                  13.37
30-34      52   52             52                   9.03
35-39      31   31             31                   5.38
40+        12   12             12                   2.08

In [67]:
#total_players = len(unique_players['SN'].unique())
#print(total_players)
#total_players.dtypes

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [203]:
###wl - final
start_df = purchase_data

#Bin logic
bins=[0,9,14,19,24,29,34,39,100]
bin_labels= ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
start_df['Age Bins']=pd.cut(start_df['Age'],bins, labels= bin_labels) 
temp_df = start_df.groupby('Age Bins')

purchase_count = temp_df['Purchase ID'].count()
average_purchase_price = temp_df['Price'].mean()
total_purchase_value = temp_df['Price'].sum()
total_players_by_bin = age_demographics['Total Players']
Avg_Total_Purchase_per_Person = (total_purchase_value/total_players_by_bin)
#answer
age_df = pd.DataFrame()
age_df['Purchase Count'] = purchase_count
age_df['Average Purchase Value']= average_purchase_price
age_df['Total Purchase Value']= total_purchase_value
age_df['Avg Total Purchase per Person']= Avg_Total_Purchase_per_Person

#formatting
age_df['Average Purchase Value'] = age_df['Average Purchase Value'].map('${:,.2f}'.format)
age_df['Total Purchase Value']= age_df['Total Purchase Value'].map('${:,.2f}'.format)
age_df['Avg Total Purchase per Person']= age_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)

#display
age_df
#Avg_Total_Purchase_per_Person
#total_players_by_bin
#total_purchase_value
#average_purchase_price
#purchase_count
#start_df

,Purchase Count,Average Purchase Value,Total Purchase Value,Avg Total Purchase per Person
Age Bins,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [256]:
#purchase_data
first_df = purchase_data
temp_df = first_df.groupby('SN').count()
second_df = first_df.groupby('SN').mean()
third_df = first_df.groupby('SN').sum()
purchase_count = temp_df['Purchase ID']
average_purchase_price = second_df['Price']
total_purchase_value = third_df['Price']

top_spenders = pd.DataFrame()
top_spenders['Purchase Count']=purchase_count
top_spenders['Average Purchase Price']=average_purchase_price
top_spenders['Total Purhcase Value']=total_purchase_value
#top_spenders.sort_values('Total Purhchase Value',ascending = False)
#total_purchase_value.describe()
#average_purchase_price
#temp_df.count().sort_values('Purchase ID',ascending = False)
#purchase_count
#third_df.sort_values('Price',ascending = False)
#top_spenders.dtypes



###output and formatting
top_spenders.astype(float)

#top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map('${:,.2f}'.format)
#top_spenders['Total Purhcase Value'] = top_spenders['Total Purhcase Value'].map('${:,.2f}'.format)
#top_spenders.sort_values('Total Purhcase Value', ascending=False).head()
final_df = top_spenders.sort_values('Total Purhcase Value', ascending=False).head()
final_df['Average Purchase Price'] = final_df['Average Purchase Price'].map('${:,.2f}'.format)
final_df['Total Purhcase Value'] = final_df['Total Purhcase Value'].map('${:,.2f}'.format)
final_df
###debugging area

#top_spenders.sort_values(by =['Total Purchase Value']).head() ###wl-tbd: bug + formating
#top_spenders.describe()
#print(top_spenders.index.names)
#debugdf= top_spenders.sort_values(by=['Total Purhcase Value'], axis=1)
#debug_df = top_spenders.astype(float)
#debug_df.sort_values('Total Purhcase Value', ascending=False)
#debug_df

             Purchase Count Average Purchase Price Total Purhcase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [471]:
first_df = purchase_data[['Item ID','Item Name','Price']]
second_df = first_df.groupby(['Item ID','Item Name'])
purchase_count = second_df.count().sort_values('Price',ascending=False)
#item_price = second_df.count().sort_values('Price',ascending=False).head()  ###wl-tbd: fix
total_purchase_value = second_df.sum().sort_values('Price',ascending=False)

#item_price = pd.merge(purchase_count,first_df, on='Item ID')
#item_price
#item_price.drop_duplicates()
#purchase_count
#total_purchase_value

#final_df2 = pd.merge(item_price,total_purchase_value, on= 'Item ID')
#final_df.drop_duplicates()
#final_df2
#formating
#final_df

#purchase_count
#item_price
#second_df
#total_purchase_value
###purchase_count['Price']= purchase_count['Price'].map('${:,.2f}'.format)
#purchase_count
###item_price['Price']=item_price['Price'].map('${:,.2f}'.format)

###debugging area
#debug_df = first_df
#debug_df2 = pd.merge(purchase_count,debug_df, on='Item ID')
#debug_df2.drop_duplicates()
###wl-tbd:fix formating
#


debug_df1 = purchase_count.rename(columns = {'Price':'Purchase Count'}) #PURCHASE COUNT
#debug_df1['Purchase Count'] = debug_df1['Purchase Count'].map('${:,.2f}'.format)

debug_df2 = total_purchase_value.rename(columns = {'Price': 'Total Purchase Value'}) #TOTAL PRUCHASE VALUE
#debug_df2['Total Purchase Value'].debug_df2['Total Purchase Value'].map('${:,.2f}'.format)
#print(debug_df2.head())
###debug_df3 = debug_df1.join(debug_df2)
#debug_df3.astype(float)
#debug_df3['Purchase Count']= debug_df3['Purchase Count'].map('${:,.2f}'.format)
#debug_df3['Total Purchase Value']. debug_df3['Total Purchase Value'].map('${:,.2f}'.format)
item_price = first_df
debug_df4 = item_price.set_index(['Item ID','Item Name'])
debug_df5 = debug_df4.rename(columns = {'Price':'Item Price'})  #ITEM PRICE
debug_df5['Item Price'] = debug_df5['Item Price'].map('${:,.2f}'.format)

debug_df6 = debug_df1.join(debug_df5) 
debug_df7 = debug_df6.join(debug_df2)

debug_df8 = debug_df7.drop_duplicates()
debug_df9 = debug_df8.sort_values('Purchase Count', ascending=False)
final_df = debug_df9
final_df
final_df2 = final_df
final_df2['Total Purchase Value'] = final_df['Total Purchase Value'].map('${:,.2f}'.format)
#final_df2.sort_values('Total Purchase Value', ascending=False)
final_df2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [472]:
MPI = final_df2
MPI2= MPI
MPI2['Total Purchase Value']=MPI2['Total Purchase Value'].str.replace('$','')
MPI2['Total Purchase Value']= MPI2['Total Purchase Value'].astype(float)

#MPI2
#MPI2 = MPI.sort_values('Total Purchase Value', ascending=False)
###MPI2['Total Purchase Value']= MPI2['Total Purchase Value'].astype(float)
###MPI2['Total Purchase Value']=MPI2['Total Purchase Value'].map('${:,.2f}'.format)
MPI2.sort_values('Total Purchase Value', ascending=False).head()

###wl-bug: doesn't sort properly
###MPI2['Total Purchase Value']= MPI2['Total Purchase Value'].astype(float)
###   ----debug here: MPI2['Total Purchase Value']=MPI2['Total Purchase Value'].map('${:,.2f}'.format)

MPI3 = MPI2.head()

MPI3

###wl-this code does work
############################
#MPI3['Total Purchase Value']= MPI3['Total Purchase Value'].astype(float)
#MPI3['Total Purchase Value']=MPI3['Total Purchase Value'].map('${:,.2f}'.format)
#MPI = final_df2.sort_values('Total Purchase Value', ascending=False)
############################


#MPI_df2= MPI.reset_index()
#MPI_df3 = MPI_df2.sort_values('Total Purchase Value', ascending=False)
#MPI_df3['Total Purchase Value'].sort_values(ascending=False)
#MPI['Total Purchase Value'].astype(float)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
92,Final Critic,8,$4.88,39.04

### OBSERVABLE TRENDS
1. Age group 20 -24 spends the most money on items compared to other age groups.
2. The player base is mostly males.
3. The game is mostly played by 20 - 24 age group.